<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>

    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <div th:if="${userLogged}">
        <span th:text="${userLogged}"></span>
        <ul class="login-more m-t-20">
            <li>
                <span class="txt1">Do you want to </span>
                <a href="/logout" class="txt2">logout ?</a>
            </li>
        </ul>
    </div>
    <div th:unless="${userLogged}" class="login-container">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" action="#" th:action="@{/}" th:object="${user}" method="post" autocomplete="off">
                <span class="login100-form-title cabin-sketch-font">Welcome</span>
                <span class="login100-form-avatar">
                    <img th:src="@{/images/memo.png}"/>
                </span>

                <div class="wrap-input100 m-t-75 m-b-35">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" th:field="*{username}" autocomplete="new-password" required/>
                    <span class="validate-input" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                </div>

                <div class="wrap-input100 m-b-50">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" th:field="*{password}" autocomplete="new-password" required/>
                    <span class="validate-input" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">Login</button>
                </div>

                <ul class="login-more m-t-20">
                    <li class="m-b-8">
						<span class="txt1">Forgot</span>
                        <a href="/restore" class="txt2">Username / Password?</a>
                    </li>
                    <li>
					    <span class="txt1">Don’t have an account?</span>
                        <a href="/singup" class="txt2">Sign up</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</body>

</html>
